<form action="/URL_shortener" method="POST">
  <div>
    <input type="url" name="URL" style="width: 500px;" placeholder="input URL here" {{#if URL}} value="{{ URL }}"
      {{/if}}required>
    {{!-- 在防止表單送出後出現，提示使用者 --}}
    <div>
      請輸入正確網址
    </div>
  </div>
  <button type="submit">shorten</button>
</form>


{{#if shortURL}}

<div>
  <div>Success! Please use this link:</div>
  <a href="{{ shortURL }}" target="_blank" id="shortURL">{{ shortURL }}</a>
</div>
{{!-- 點擊按鈕會執行 function copy() --}}
<button type="button" onclick="copy()" class="btn btn-primary">Copy</button>

{{/if}}