<div class="d-flex flex-column my-5 align-items-center">
  <h1>URL ShortURL</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" class="my-3"
    style="max-height: 150px;">


  {{#if shortURL}}

  <div class="alert mt-3 ">
    <h3>Success! Please use this link:</h3>
    <a href="{{ shortURL }}" target="_blank" id="shortURL">{{ shortURL }}</a>
  </div>
  <button type="button" onclick="copy()" class="btn btn-primary ">Copy</button>
  <a class="btn btn-outline-primary mt-1" href="/" role="button">Back</a>
  {{else}}
  <div>
    <form action="/URL_shortener" method="POST" class="needs-validated d-flex flex-column align-items-center"
      novalidate>
      <input type="url" name="URL" style="width: 500px;" class="mt-3" placeholder="Input URL here" required>
      {{!-- 在防止表單送出後出現，提示使用者 --}}
      <div class="invalid-feedback">
        請輸入正確網址
      </div>
      <button type="submit" class="mt-3 btn btn-outline-primary">shorten</button>
    </form>
  </div>
  {{/if}}
</div>

<script>
  const form = document.querySelector('.needs-validated')
  // 若使用者沒有輸入內容，就按下了送出鈕，防止表單送出並提示使用者
  form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }
    form.classList.add('was-validated')
  })

  function copy() {
    const shortURL = document.querySelector('#shortURL')
    navigator.clipboard.writeText(shortURL.textContent)
      .then(() => alert('Copied'))
      .catch((err => console.log(err)))
  }
</script>